<!-- Views/Shared/_Header.cshtml -->
<header>
    <div class="home_header">
        <div class="logo">
            <p>Milk Store</p>
        </div>
        <div class="tabs_middle">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Shipment</a></li>
                </ul>
            </nav>
        </div>

        <div class="logout">
            <div class="addtocart">
                <i class="fas fa-cart-shopping"></i>
            </div>
            <div class="circle">
                3
            </div>
            <button id="logout_button" class="logout_button">Logout</button>
        </div>
    </div>
</header>
